<!DOCTYPE html>
<html>
  <head>
    <title>DiveSites</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
  </head>

  <body>
    <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% end %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
